@using DiplomaWebService.Models.ViewModel.Invoice.Out;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* @model InvoiceOutViewModelInvoiceList
<form action="/invoiceOut" method="post" class="modal invoice-in-out-form" id="addInvoiceOutForm">
    <div class="user-modal-header">
        <button class="small-icon-container close-btn" type="button" onclick="AddInvoiceOutFormClose()">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.05808 15.59C1.1359 15.59 0.405029 14.8587 0.405029 13.9188C0.405029 13.501 0.579034 13.0832 0.90962 12.7698L5.64237 8.01742L0.90962 3.28238C0.579034 2.96907 0.405029 2.55127 0.405029 2.13348C0.405029 1.19342 1.1359 0.479631 2.05808 0.479631C2.54525 0.479631 2.92799 0.636408 3.24127 0.949721L7.99132 5.68477L12.7588 0.932288C13.1068 0.601542 13.4723 0.444885 13.942 0.444885C14.8642 0.444885 15.595 1.17599 15.595 2.09862C15.595 2.53384 15.421 2.91677 15.0905 3.26495L10.3577 8.01742L15.0905 12.7523C15.4036 13.0832 15.5776 13.4836 15.5776 13.9188C15.5776 14.8587 14.8468 15.59 13.9073 15.59C13.4374 15.59 13.0372 15.4159 12.7067 15.1026L7.99132 10.3849L3.276 15.1026C2.96284 15.4333 2.54525 15.59 2.05808 15.59Z" fill="#768B63" />
            </svg>
        </button>
        <div class="top-header">
            <h2>Нова накладна на видачу</h2>
        </div>
    </div>
    <div class="user-modal-content">
        <div class="user-modal-block">
            <div class="user-modal-label" hidden>Id:</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <input type="number" class="input-field hidden" id="invoiceId" name="id" placeholder="Id" hidden>
                <div class="separator" hidden></div>
            </div>
        </div>
        <div class="user-modal-block">
            <div class="user-modal-label">Дата накладної: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <input type="datetime-local" class="input-field" id="invoiceDate" name="invoiceDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" min="2018-06-07T00:00" max="2026-06-14T00:00" required>
                <div class="separator"></div>
            </div>
        </div>
        <div class="user-modal-block">
            <div class="user-modal-label">Номер: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <input type="text" class="input-field" id="invoiceNumber" name="number" placeholder="Номер" required>
            </div>
            <div class="user-modal-label">Дата накладної: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <input type="datetime-local" class="input-field" id="invoiceDate" name="invoiceDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" min="2018-06-07T00:00" max="2026-06-14T00:00" required>
            </div>
        </div>
        <div class="separator"></div>
        <div class="user-modal-block">
            <div class="user-modal-label">Призначення: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="destinationId" name="destinationId" required>
                    @for (int i = 0; i < @Model.Contragents.Count; i++)
                    {
                        <option value="@Model.Contragents[i].ContragentId">@Model.Contragents[i].ContragentName</option>
                    }
                </select>
                <div class="separator"></div>
            </div>
        </div>
        <div class="user-modal-block">
            <div class="user-modal-label">Відправник: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="senderId" name="senderId" required>
                    @for (int i = 0; i < @Model.Contragents.Count; i++)
                    {
                        if (@Model.Contragents[i].WhoAmI == true)
                        {
                            <option value="@Model.Contragents[i].ContragentId" readonly>@Model.Contragents[i].ContragentName</option>
                        }
                    }
                </select>
                <div class="separator"></div>
            </div>
        </div>        
        <div class="user-modal-block">
            <div class="user-modal-label">Сектор: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="sectorId" name="sectorId" required>
                    @for (int i = 0; i < @Model.Sectors.Count; i++)
                    {
                        <option value="@Model.Sectors[i].Id">@Model.Sectors[i].Name</option>
                    }
                </select>
                <div class="separator"></div>
            </div>
        </div>
        <div class="user-modal-block">
            <div class="user-modal-label">Тип документа: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="documentTypeId" name="documentTypeId" required>
                    @for (int i = 0; i < @Model.DocumentTypes.Count; i++)
                    {
                        <option value="@Model.DocumentTypes[i].Id">@Model.DocumentTypes[i].Name</option>
                    }
                </select>
                <div class="separator"></div>
            </div>
        </div>
        <div class="itemRow" id="itemRow"> *@
            @* <div class="user-modal-block">
                <div class="user-modal-label">Майно:</div>
                <div class="input-field-wrapper">
                    <select class="input-field dropdown" id="StockItemId[]" name="StockItemId[]" required>
                        @for (int i = 0; i < @Model.StockItems.Count; i++)
                        {
                            <option value="@Model.StockItems[i].StockItemId">
                                @Model.StockItems[i].Item.ItemName (@Model.StockItems[i].Category.Name
                                @Model.StockItems[i].Price, @Model.StockItems[i].AllAmount, @Model.StockItems[i].Unit.Name)
                            </option>
                        }
                    </select>
                    <div class="separator"></div>
                </div>
            </div>
            <div class="user-modal-block">
                <div class="user-modal-label">Кількість</div>
                <div class="input-field-wrapper">
                    <input type="text" class="input-field" id="Amount[]" name="Amount[]" placeholder="Кількість" required>
                    <div class="separator"></div>
                </div>
            </div>
            <button type="button" class="remove-btn" onclick="removeRow(this)">❌</button> *@
       @*  </div>
        <div id="stockOptionsContainer" style="display: none;">
            <select class="input-field dropdown" id="StockItemId" name="StockItemId" required>
                @for (int i = 0; i < @Model.StockItems.Count; i++)
                {
                    <option value="@Model.StockItems[i].StockItemId">
                        @Model.StockItems[i].Item.ItemName (@Model.StockItems[i].Category.Name
                        @Model.StockItems[i].Price, @Model.StockItems[i].AllAmount, @Model.StockItems[i].Unit.Name)
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="user-modal-footer">
        <button type="add-user" class="btn btn-add-user" onclick="addInvoiceOutPosition()">
            <img src="img/plus.svg">Додати
        </button>
        <button type="submit" class="btn btn-modal">Зберегти</button>
    </div>
</form>
 *@

@model InvoiceOutViewModelInvoiceList
<div class="main-header">
    <div class="top-header">
        <h2>Накладні видача</h2>
    </div>
    <div class="btn-header">
        <button type="button" class="btn btn-header" onclick="SendInvoiceOut()">Зберегти</button>
    </div>
</div>
<nav class="nav">
    <a href="/invoicesIn" class="btn btn-add-user">
        <img src="../img/back.svg">
    </a>
</nav>
<div class="container">
    <div class="user-modal-content">
        <label hidden>Invoice Id</label> <input type="number" class="input-field hidden" id="invoiceId" value="" "name=" Id" placeholder="Id" hidden>
        <div class="user-modal-block">
            <div class="user-modal-label">Дата накладної: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <input type="datetime-local" class="input-field" id="invoiceDate" name="invoiceDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" min="2018-06-07T00:00" max="2026-06-14T00:00" required>
            </div>
            <div class="user-modal-label">Номер: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <input type="text" class="input-field" id="invoiceNumber" name="number" placeholder="Номер" required>
            </div>
        </div>
        <div class="separator"></div>
        <div class="user-modal-block">
            <div class="user-modal-label">Призначення: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="destinationId" name="destinationId" disabled>
                    @for (int i = 0; i < @Model.Contragents.Count; i++)
                    {
                        if (@Model.Contragents[i].WhoAmI != true)
                        {
                            <option value="@Model.Contragents[i].ContragentId">@Model.Contragents[i].ContragentName</option>
                        }
                    }
                </select>
            </div>
            <div class="user-modal-label">Відправник: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="senderId" name="senderId" required>
                @for (int i = 0; i < @Model.Contragents.Count; i++)
                {
                    if (@Model.Contragents[i].WhoAmI == true)
                    {
                        <option value="@Model.Contragents[i].ContragentId" readonly>@Model.Contragents[i].ContragentName</option>
                    }
                }
                </select>
            </div>
        </div>
        <div class="separator"></div>
        <div class="user-modal-block">
            <div class="user-modal-label">Служба: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="sectorId" name="sectorId" onchange="GetStockItemBySenderAndSector()" required>
                    @for (int i = 0; i < @Model.Sectors.Count; i++)
                    {
                        <option value="@Model.Sectors[i].Id">@Model.Sectors[i].Name</option>
                    }
                </select>
            </div>
            <div class="user-modal-label">Тип документа: *</div>
            <div class="input-field-wrapper input-field-wrapper-invoice-in-out">
                <select class="input-field dropdown" id="documentTypeId" name="documentTypeId" required>
                    @for (int i = 0; i < @Model.DocumentTypes.Count; i++)
                    {
                        <option value="@Model.DocumentTypes[i].Id">@Model.DocumentTypes[i].Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="separator"></div>
    </div>
</div>
<div class="container">
    <div class="block-container ">
        Позиції
        <button type="button" class="btn btn-add-user" onclick="openModalForm()">
            <img src="../img/plus.svg">Додати
        </button>
    </div>
</div>
<div class="users-table-content">
    <table id="inoiceOutPositionsTable">
        <thead>
            <tr>
                <th hidden>Item Id</th>
                <th>Назва</th>
                <th>Серійний номер</th>
                <th>Рік випуску</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th hidden>Unit Id</th>
                <th>Одиниці виміру</th>
                <th hidden>Category Id</th>
                <th>Категорія</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (InvoicePositionIn position in Model.InvoiceIn.InvoicePositions)
            {
                <tr>
                    <td hidden>@position.Item.ItemId</td>
                    <td>@position.Item.ItemName</td>
                    <td>@position.SerialNumber</td>
                    <td>@position.ProductionYear</td>
                    <td>@position.Amount</td>
                    <td>@position.Price</td>
                    <td hidden>@position.Unit.Id</td>
                    <td>@position.Unit.Name</td>
                    <td hidden>@position.Category.Id</td>
                    <td>@position.Category.Name</td>
                </tr>
            } *@
        </tbody>
    </table>
</div>
@Html.Partial("/Views/Forms/InvoiceForm/InvoiceOut/AddInvoicePositionOut.cshtml", @Model)