@using DiplomaWebService.Models.Items
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<StockItem>
@for (int i=0; i<Model.Count; i++)
{
    <tr>
        <td hidden class="invoice-position-table-stockitems-item-id">@Model[i].Item.ItemId</td>
        <td class="invoice-position-table-stockitems-item-name">@Model[i].Item.ItemName</td>
        <td class="invoice-position-table-stockitems-serial-number">@Model[i].SerialNumber</td>
        <td class="invoice-position-table-stockitems-production-year">@Model[i].ProductionYear</td>
        <td hidden class="invoice-position-table-stockitems-unit-id">@Model[i].Unit.Id</td>
        <td class="invoice-position-table-stockitems-unit-name">@Model[i].Unit.Name</td>
        <td hidden class="invoice-position-table-stockitems-category-id">@Model[i].Category.Id</td>
        <td class="invoice-position-table-stockitems-category-name">@Model[i].Category.Name</td>
        <td class="invoice-position-table-stockitems-price">@Model[i].Price</td>
        <td><input type="checkbox" class="invoice-position-stockitem-checkbox" value="@i" /></td>
    </tr>
}