@model List<StockItem>

@for (int i = 0; i < @Model.Count(); i++)
{
    <tr class="data-table-tr">
        <td id="stockItemId" class="data-table-td" hidden>@Model[i].StockItemId</td>
        <td id="ItemId" class="data-table-td" hidden>@Model[i].Item.ItemId</td>
        <td id="ItemName" class="data-table-td">@Model[i].Item.ItemName</td>
        <td id="ItemNomenclatureNumber" class="data-table-td">@Model[i].Item.NomenclatureNumber</td>
        <td id="ItemProductionYear" class="data-table-td">@Model[i].ProductionYear</td>
        <td id="UnitId" class="data-table-td" hidden>@Model[i].Unit.Id</td>
        <td id="UnitName" class="data-table-td">@Model[i].Unit.Name</td>
        <td id="CategoryId" class="data-table-td" hidden>@Model[i].Category.Id</td>
        <td id="CategoryName" class="data-table-td">@Model[i].Category.Name</td>
        <td id="Price" class="data-table-td">@Model[i].Price</td>
        <td id="Amount" class="data-table-td">@Model[i].AllAmount</td>
        <td id="ContragentName" class="data-table-td">@Model[i].ContragentName</td>
        <td class="data-table-td td-image">
            <button type="add-user" class="btn" onclick="ReassessmentWithoutCoeffOpen('@Model[i].StockItemId','@Model[i].Item.ItemName, @Model[i].Unit.Name, @Model[i].Category.Name, @Model[i].Price')">
                <img src="img/reevaluation1.svg">
            </button>
        </td>
    </tr>
}