@using DiplomaWebService.Models.Users
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<User>

@for (int i = 0; i < Model.Count(); i++)
{
	<tr class="data-table-tr">
		<td id="UserIdInTable" class="UserIdInTable data-table-td" hidden>@Model[i].Id</td>
		<td id="UserNameInTable" class="UserNameInTable data-table-td">@Model[i].UserName</td>
		<td id="LastNameInTable" class="LastNameInTable data-table-td" hidden>@Model[i].LastName</td>
		<td id="FirstNameInTable" class="FirstNameInTable data-table-td" hidden>@Model[i].FirstName</td>
		<td id="FullName" class="data-table-td">@Model[i].FirstName @Model[i].LastName</td>
		<td id="Email" class="Email data-table-td" hidden>@Model[i].Email</td>
		<td id="Phone" class="Phone data-table-td">@Model[i].PhoneNumber</td>
		<td id="Status" class="Status data-table-td" hidden>@Model[i].IsActive</td>
		<td id="UserStatusInTable" class="UserStatusInTable data-table-td">
			<div class="status-@Model[i].StatusDescription">@Model[i].StatusDescription
			</div>
		</td>
		<td id="RoleId" class="RoleId data-table-td" hidden>@Model[i].RoleId</td>
		<td id="RoleName" class="RoleName data-table-td">@Model[i].RoleName</td>
		<td id="Comment" class="Comment data-table-td">@Model[i].Comment</td>
		<td class="data-table-td td-image">
			<div class="modal-popup">
				<div class="three-dots-button-container">
					<button onclick="openMenu(@i)">
						<img src="img/3dots.svg">
					</button>
				</div>
				<div class="modal-popup-container" id="modal-popup-hidden">
					<div class="menu-item-container">
						Редагувати
						<button class="small-icon-container" id="updateUser@i" onclick="FillUserForm(@i)"><img src="img/edit.svg"></button>
					</div>
					<div class="separator">
					</div>
					<div class="menu-item-container">
						Блокувати
						<button class="small-icon-container" id="createExelInvoiceIn@i" onclick="DisableUser(@i)"><img src="img/archive.svg"></button>
					</div>
				</div>
			</div>
		</td>
    </tr>
}