@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@{
} *@
@using DiplomaWebService.Models;
@model List<Role>
@* 
<div class="newUserForm">
    <form action="/users" method="post" id="addUser">
        <label for="username">Username </label>
        <input type="text" class="UserInput" id="username" name="username" value="" placeholder="login" required><br>
        <label for="password">Password </label>
        <input type="text" class="UserInput" id="password" name="password" value="" placeholder="password" required><br><br>
        <label for="email">Email </label>
        <input type="text" class="UserInput" id="email" name="email" value="" placeholder="Email" required><br><br>
        <label for="firstName">First Name </label>
        <input type="text" class="UserInput" id="firstName" name="firstName" value="" placeholder="firstName" required><br><br>
        <label for="lastName">Last Name </label>
        <input type="text" class="UserInput" id="lastName" name="lastName" value="" placeholder="lastName" required><br><br>
        <label for="fatherName">Father Name </label>
        <input type="text" class="UserInput" id="fatherName" name="fatherName" value="" placeholder="fatherName"><br><br>
        <label for="role">Role </label>
        <select name="roles" id="roles" form="addUser">
            @for (int i = 0; i < @Model.Count(); i++)
            {
                <option value="@Model[i].Id"> @Model[i].Name</option>
            }
        </select><br><br>
        <input type="submit" class="formButton" id="submit" value="Submit">
    </form>
</div> *@

<form action="/users" method="post" class="modal" id="addUserForm">
	<div class="user-modal-header">
		<button class="small-icon-container close-btn" onclick="closeModalForm()">
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M2.05808 15.59C1.1359 15.59 0.405029 14.8587 0.405029 13.9188C0.405029 13.501 0.579034 13.0832 0.90962 12.7698L5.64237 8.01742L0.90962 3.28238C0.579034 2.96907 0.405029 2.55127 0.405029 2.13348C0.405029 1.19342 1.1359 0.479631 2.05808 0.479631C2.54525 0.479631 2.92799 0.636408 3.24127 0.949721L7.99132 5.68477L12.7588 0.932288C13.1068 0.601542 13.4723 0.444885 13.942 0.444885C14.8642 0.444885 15.595 1.17599 15.595 2.09862C15.595 2.53384 15.421 2.91677 15.0905 3.26495L10.3577 8.01742L15.0905 12.7523C15.4036 13.0832 15.5776 13.4836 15.5776 13.9188C15.5776 14.8587 14.8468 15.59 13.9073 15.59C13.4374 15.59 13.0372 15.4159 12.7067 15.1026L7.99132 10.3849L3.276 15.1026C2.96284 15.4333 2.54525 15.59 2.05808 15.59Z" fill="#768B63" />
			</svg>
		</button>
		<div class="top-header">
			<h2>Новий користувач</h2>
		</div>
	</div>
	<div class="user-modal-content">
		<div class="user-modal-block">
			<div class="user-modal-label" hidden>Id:</div>
			<div class="input-field-wrapper">
				<input type="text" class="input-field hidden" id="userId" value="" name="Id" placeholder="Id" hidden required>
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">Прізвище:</div>
			<div class="input-field-wrapper">
				<input type="text" class="input-field" name="last-name" id="last-name" value="" placeholder="Прізвище">
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">Ім'я:</div>
			<div class="input-field-wrapper">
				<input type="text" class="input-field" name="first-name" id="first-name" value="" placeholder="Ім'я">
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">По батькові:</div>
			<div class="input-field-wrapper">
				<input type="text" class="input-field" name="middle-name" id="middle-name" value="" placeholder="По батькові">
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">Логін:</div>
			<div class="input-field-wrapper">
				<input type="text" class="input-field" name="login" id="login" value="" placeholder="Логін">
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">Пароль:</div>
			<div class="input-field-wrapper">
				<input type="text" class="input-field" name="password" id="password" value="" placeholder="Пароль">
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">Роль:</div>
			<div class="input-field-wrapper">
				<select class="input-field dropdown" name="role" id="role">
					@for (int i = 0; i < @Model.Count(); i++)
					{
						<option value="@Model[i].Id"> @Model[i].Name</option>
					}
				</select>
				<div class="separator"></div>
			</div>
		</div>
		<div class="user-modal-block">
			<div class="user-modal-label">Статус:</div>
			<div class="input-field-wrapper">
				<select class="input-field dropdown" name="role" id="role">
					<option value="true"> Активний</option>
					<option value="false"> Неактивний</option>
				</select>
				<div class="separator"></div>
			</div>
		</div>
	</div>
	<div class="user-modal-footer">
		<button type="submit" class="btn btn-modal" form="" value="Submit" onclick="closeModalForm()">Зберегти</button>
	</div>
</form>