@using DiplomaWebService.Common.Enum
@using DiplomaWebService.Models.Items;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Item>
@{
	int roleId = (int)ViewData["RoleId"];
}
@for (int i = 0; i < Model.Count(); i++)
{
	<tr class="data-table-tr">
		<td id="itemId" class="itemId data-table-td" hidden>@Model[i].ItemId</td>
		<td id="name" class="name data-table-td">@Model[i].ItemName</td>
		<td id="inventoryNumber" class="inventoryNumber data-table-td">@Model[i].NomenclatureNumber</td>
		<td id="unitId" class="unitId data-table-td" hidden>@Model[i].Unit.Id</td>
		<td id="unitName" class="unitName data-table-td">@Model[i].Unit.Name</td>
		<td id="requiredQuantity" class="requiredQuantity data-table-td">@Model[i].RequiredQuantity</td>
		<td id="weight" class="weight data-table-td">@Model[i].Weight</td>
		<td id="description" class="description data-table-td">@Model[i].Description</td>
		<td id="sectorId" class="sectorId data-table-td" hidden>@Model[i].Sector.Id</td>
		<td id="sectorName" class="sectorName data-table-td">@Model[i].Sector.Name</td>
		<td class="data-table-td td-image">
			<div class="modal-popup">
				<div class="three-dots-button-container">
					@if (roleId == (int)Roles.Viewer)
					{
						<button onclick="openMenu(@i)" disabled>
							<img src="img/3dots.svg">
						</button>
					}
					else
					{
						<button onclick="openMenu(@i)">
							<img src="img/3dots.svg">
						</button>
					}
				</div>
				<div class="modal-popup-container" id="modal-popup-hidden">
					<div class="menu-item-container">
						Редагувати
						<button class="small-icon-container" id="updateItem@i" onclick="FillItemForm(@i)"><img src="img/edit.svg"></button>
					</div>
				</div>
			</div>
		</td>
	</tr>
}