@using DiplomaWebService.Models.ViewModel;
@model ItemViewModel
@{
}

<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Майно</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		<button type="add-user" class="btn btn-add-user" onclick="openModalForm('addItemForm')">
			<img src="img/plus.svg">Додати
		</button>
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук..." onkeydown="searchItems(event)"
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table>
		<thead>
			<tr>
				<th hidden>itemId</th>
				<th>Назва</th>
				<th>Номенклатурний номер</th>
				<th hidden>unitId</th>
				<th>Одиниці виміру</th>
				<th hidden>sectorId</th>
				<th>Назва служби</th>
				<th>Штат</th>
				<th>Вага</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Items.Count(); i++)
			{
				<tr>
					<td id="itemId" hidden>@Model.Items[i].ItemId</td>
					<td id="name">@Model.Items[i].ItemName</td>
					<td id="inventoryNumber">@Model.Items[i].NomenclatureNumber</td>
					<td id="unitId" hidden>@Model.Items[i].Unit.Id</td>
					<td id="unitName">@Model.Items[i].Unit.Name</td>
					<td id="sectorId" hidden>@Model.Items[i].Sector.Id</td>
					<td id="sectorName">@Model.Items[i].Sector.Name</td>
					<td id="reuiredQuantity">@Model.Items[i].RequiredQuantity</td>
					<td id="weight">@Model.Items[i].Weight</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@Html.Partial("/Views/Forms/ItemForm/AddItem.cshtml", @Model)