@using DiplomaWebService.Models.Invoice.Out
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<InvoiceOut>

@for (int i = 0; i < Model.Count(); i++)
{
    <tr class="data-table-tr">
        <td class="data-table-td" hidden>@Model[i].Id</td>
        <td class="data-table-td">@Model[i].InvoiceDate.ToString("yyyy-MM-dd")</td>
        <td class="data-table-td">@Model[i].Number</td>
        <td class="data-table-td" hidden>@Model[i].SenderId</td>
        <td class="data-table-td">@Model[i].SenderName</td>
        <td class="data-table-td" hidden>@Model[i].DestinationId</td>
        <td class="data-table-td">@Model[i].DestinationName</td>
        <td class="data-table-td" hidden>@Model[i].InvoiceType.Id</td>
        @* <td class="data-table-td">@Model[i].InvoiceType.Name</td> *@
        <td class="data-table-td" hidden>@Model[i].Sector.Id</td>
        <td class="data-table-td">@Model[i].Sector.Name</td>
        <td class="data-table-td" hidden>@Model[i].DocumentType.Id</td>
        <td class="data-table-td">@Model[i].DocumentType.Name</td>
        <td class="data-table-td td-image">
            <div class="modal-popup">
                <div class="three-dots-button-container">
                    <button onclick="openMenu(@i)">
                        <img src="img/3dots.svg">
                    </button>
                </div>
                <div class="modal-popup-container">
                    <div class="menu-item-container">
                        Перегляд
                        @* <button class="small-icon-container" id="invoiceDetails" onclick="/invoiceOut/{@Model[i].Id}"><img src="img/review.svg"></button> *@
                        <a href="/invoiceOut/@Model[i].Id" class="small-icon-container">
                            <img src="img/review.svg">
                        </a>
                    </div>
                    <div class="separator">
                    </div>
                    <div class="menu-item-container">
                        Експорт
                        <button class="small-icon-container" id="createExelInvoiceOut@i" onclick="createReportInvoiceOut(@Model[i].Id)"><img src="img/excel.svg"></button>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}