@using DiplomaWebService.Models.Invoice.In
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<InvoiceIn>

@for (int i = 0; i < Model.Count(); i++)
{
    <tr>
        <td hidden>@Model[i].Id</td>
        <td>@Model[i].InvoiceDate.ToString("yyyy-MM-dd")</td>
        <td>@Model[i].Number</td>
        <td hidden>@Model[i].DestinationId</td>
        <td>@Model[i].DestinationName</td>
        <td hidden>@Model[i].SenderId</td>
        <td>@Model[i].SenderName</td>
        <td hidden>@Model[i].InvoiceType.Id</td>
        <td>@Model[i].InvoiceType.Name</td>
        <td hidden>@Model[i].Sector.Id</td>
        <td>@Model[i].Sector.Name</td>
        <td hidden>@Model[i].DocumentType.Id</td>
        <td>@Model[i].DocumentType.Name</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th hidden>Item Id</th>
                        <th>Назва</th>
                        <th>Серійний номер</th>
                        <th>Рік випуску</th>
                        <th>Кількість</th>
                        <th>Ціна</th>
                        <th hidden>Unit Id</th>
                        <th>Одиниці виміру</th>
                        <th hidden>Category Id</th>
                        <th>Категорія</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var position in Model[i].InvoicePositions)
                    {
                        <tr>
                            <td hidden>@position.Item.ItemId</td>
                            <td>@position.Item.ItemName</td>
                            <td>@position.Amount</td>
                            <td>@position.Price</td>
                            <td hidden>@position.SerialNumber</td>
                            <td>@position.ProductionYear</td>
                            <td hidden>@position.Unit.Id</td>
                            <td>@position.Unit.Name</td>
                            <td hidden>@position.Category.Id</td>
                            <td>@position.Category.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        <td>
            <button onclick="openMenu(i)"></button>
        </td>
    </tr>
    <div class="menu">
        <button id="createExelInvoiceIn{i}" onclick="createReportInvoiceIn(i)">
            <img scr="" alt="Create xlsx" />
        </button>
    </div>
}