@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using DiplomaWebService.Models.Invoice.ViewModel;
@model InvoiceInViewModel
<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Накладні прихід</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
        <button type="add-user" class="btn btn-add-user" onclick="openModalForm()">
			<img src="img/admin.svg">Додати приходну накладну
		</button>
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук...">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
    <table>
        <thead>
            <tr>
                <th hidden>Invoice Id</th>
                <th>Дата</th>
                <th>Ромер</th>
                <th hidden>Destination Id</th>
                <th>Відправник</th>
                <th hidden>Sender Id</th>
                <th>Отримувач</th>
                <th hidden>Invoice Type Id</th>
                <th>Тип накладної</th>
                <th hidden>Sector Id</th>
                <th>Служба</th>
                <th hidden>Document Type Id</th>
                <th>Тип документа</th>
                <th>Позиції</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.InvoicesIn.Count(); i++)
            {
                <tr>
                    <td hidden>@Model.InvoicesIn[i].Id</td>
                    <td>@Model.InvoicesIn[i].InvoiceDate.ToString("yyyy-MM-dd")</td>
                    <td>@Model.InvoicesIn[i].Number</td>
                    <td hidden>@Model.InvoicesIn[i].DestinationId</td>
                    <td>@Model.InvoicesIn[i].DestinationName</td>
                    <td hidden>@Model.InvoicesIn[i].SenderId</td>
                    <td>@Model.InvoicesIn[i].SenderName</td>
                    <td hidden>@Model.InvoicesIn[i].InvoiceType.Id</td>
                    <td>@Model.InvoicesIn[i].InvoiceType.Name</td>
                    <td hidden>@Model.InvoicesIn[i].Sector.Id</td>
                    <td>@Model.InvoicesIn[i].Sector.Name</td>
                    <td hidden>@Model.InvoicesIn[i].DocumentType.Id</td>
                    <td>@Model.InvoicesIn[i].DocumentType.Name</td>
                    <td>
                        <table>
                            <thead>
                                <tr>
                                    <th hidden>Item Id</th>
                                    <th>Назва</th>
                                    <th>Кількість</th>
                                    <th>Ціна</th>
                                    <th hidden>Unit Id</th>
                                    <th>Одиниці виміру</th>
                                    <th hidden>Category Id</th>
                                    <th>Категорія</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var position in Model.InvoicesIn[i].InvoicePositions)
                                {
                                    <tr>
                                        <td hidden>@position.Item.ItemId</td>
                                        <td>@position.Item.ItemName</td>
                                        <td>@position.Amount</td>
                                        <td>@position.Price</td>
                                        <td hidden>@position.Unit.Id</td>
                                        <td>@position.Unit.Name</td>
                                        <td hidden>@position.Category.Id</td>
                                        <td>@position.Category.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@Html.Partial("/Views/Forms/InvoiceForm/AddInvoiceIn.cshtml", Model)