@using DiplomaWebService.Models.ViewModel.Invoice.Out
@using DiplomaWebService.Common.Enum
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model InvoiceOutViewModelInvoiceList
<div class="app-content">
    <div class="main-header">
        <div class="top-header">
            <h2>Накладні видача</h2>
        </div>
        <div class="btn-header">
            <button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
        </div>
    </div>
    <nav class="nav">
        @if (Model.RoleId == (int)Roles.Viewer)
        {
            <a href="invoiceOut" class="btn btn-add-user" id="addInvoice" onclick="return false;">
                <img src="img/plus.svg">Додати
            </a>
        }
        else
        {
            <a href="invoiceOut" class="btn btn-add-user" id="addInvoice">
                <img src="img/plus.svg">Додати
            </a>
        }
		<div class="right-actions">
            <input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук..." onkeydown="searchInvoiceOut(event)">
            <button onclick="openFilter()">
                <img src="img/filtr.svg">
            </button>
        </div>
        <div class="modal-popup-container-filters" id="modal-popup-hidden-filters">
            <form action="/filterInvoiceOut" method="get" class="modal-filters" id="filterForm">
                <label>Дата з</label><br>
                <input type="datetime-local" class="input-field" id="invoiceDateFrom" name="dateFrom" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" min="2018-06-07T00:00" max="2026-06-14T00:00" />
                <label>Дата до</label><br>
                <input type="datetime-local" class="input-field" id="invoiceDateTo" name="dateTo" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" min="2018-06-07T00:00" max="2026-06-14T00:00" />
                <label>Номер</label><br>
                <input type="text" class="input-field" id="invoiceNumber" name="number" placeholder="Номер">
                <label>Призначення</label><br>
                @for (int i = 0; i < Model.Contragents.Count; i++)
                {
                    if (@Model.Contragents[i].WhoAmI != true)
                    {
                        <input type="checkbox" id="checkboxFilter@i" name="destination" class="sector-checkbox" value=@Model.Contragents[i].ContragentId />
                        <label for="sender">@Model.Contragents[i].ContragentName</label>

                        <br>
                    }
                }
                <label>Служби</label><br>
                @for (int i = 0; i < Model.Sectors.Count; i++)
                {
                    <input type="checkbox" id="checkboxFilter@i" name="sector" class="sector-checkbox" value=@Model.Sectors[i].Id />
                    <label for="sector">@Model.Sectors[i].Name</label>
                    <br>
                }
                <button type="submit" id="submitButtonFilters" class="btn btn-modal">Примінити</button>
            </form>
        </div>
	</nav>
</div>
<div class="users-table-content">
    <table class="data-table">
        <thead class="data-table-thead">
            <tr class="data-table-tr">
                <th class="data-table-th" hidden>Invoice Id</th>
                <th class="data-table-th">Дата</th>
                <th class="data-table-th">Номер</th>
                <th class="data-table-th" hidden>Destination Id</th>
                <th class="data-table-th">Відправник</th>
                <th class="data-table-th" hidden>Sender Id</th>
                <th class="data-table-th">Отримувач</th>
                <th class="data-table-th" hidden>Invoice Type Id</th>
                @* <th class="data-table-th">Тип накладної</th> *@
                <th class="data-table-th" hidden>Sector Id</th>
                <th class="data-table-th">Служба</th>
                <th class="data-table-th" hidden>Document Type Id</th>
                <th class="data-table-th">Тип документа</th>
                @* <th class="data-table-th">Позиції</th> *@
                <th class="data-table-th"></th>
            </tr>
        </thead>
        <tbody class="scroll" id="invoiceOutList">
            @Html.Partial("/Views/Invoices/_InvoiceOutList.cshtml", @Model.InvoicesOut)
        </tbody>
    </table>
</div>
@* @Html.Partial("/Views/Forms/InvoiceForm/InvoiceOut/AddInvoiceOut.cshtml", @Model) *@