@using DiplomaWebService.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Contragent>
@for (int i = 0; i < @Model.Count(); i++)
{
	@if (Model[i].WhoAmI==false) 
	{
		<tr class="data-table-tr">
			<td id="contragentIdInTable" class="data-table-td"  hidden>@Model[i].ContragentId</td>
			<td id="contragentNameInTable" class="data-table-td">@Model[i].ContragentName</td>
			<td id="parentIdInTable" class="data-table-td" hidden>@Model[i].ParentId</td>
			<td id="parentNameInTable" class="data-table-td">@Model[i].ParentName</td>
			<td id="contragentDescriptionInTable" class="data-table-td">@Model[i].ContragentDescription</td>
			<td id="IsActiveContragnetInTable" class="data-table-td status-@Model[i].StatusDescription">@Model[i].StatusDescription</td>
			@* 					<td>
						<button type="button" onclick="/contragents/disable/{@Model[i].ContragentId}">
							<img src="img/trash.svg">
						</button>
					</td> *@
		</tr>
	}
}
