@using DiplomaWebService.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Contragent>
@for (int i = 0; i < @Model.Count(); i++)
{
	@if (Model[i].WhoAmI==false) 
	{
		<tr class="data-table-tr">
			<td id="contragentIdInTable" class="contragentIdInTable data-table-td" hidden>@Model[i].ContragentId</td>
			<td id="contragentNameInTable" class="contragentNameInTable data-table-td">@Model[i].ContragentName</td>
			<td id="parentIdInTable" class="parentIdInTable data-table-td" hidden>@Model[i].ParentId</td>
			<td id="parentNameInTable" class="parentNameInTable data-table-td">@Model[i].ParentName</td>
			<td id="contragentDescriptionInTable" class="contragentDescriptionInTable data-table-td">@Model[i].ContragentDescription</td>
			<td id="isActiveTable" class="Status data-table-td" hidden>@Model[i].IsActive</td>
			<td id="IsActiveContragnetInTable" class="IsActiveContragnetInTable data-table-td status-@Model[i].StatusDescription">@Model[i].StatusDescription</td>
			<td class="data-table-td td-image">
				<div class="modal-popup">
					<div class="three-dots-button-container">
						<button onclick="openMenu(@i)">
							<img src="img/3dots.svg">
						</button>
					</div>
					<div class="modal-popup-container" id="modal-popup-hidden">
						<div class="menu-item-container">
							Редагувати
							<button class="small-icon-container" id="updateContragent@i" onclick="FillContragentForm(@i)"><img src="img/edit.svg"></button>
						</div>
						<div class="separator">
						</div>
						<div class="menu-item-container">
							Блокувати
							<button class="small-icon-container" id="createExelInvoiceIn@i" onclick="DisableContragent(@i)"><img src="img/archive.svg"></button>
						</div>
					</div>
				</div>
			</td>
		</tr>
	}
}
