@using DiplomaWebService.Models.ViewModel
@model ContragentViewModel

@{
}

<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Контрагенти</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		<button type="add-user" class="btn btn-add-user" onclick="openModalForm('addContragent')">
			<img src="img/plus.svg">Додати
		</button>
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" placeholder="Пошук..." onkeydown="searchContragents(event)">
			@* <img src="img/filtr.svg"> *@
		</div>
	</nav>
</div>
<div class="users-table-content my-agent-table">
	<table>
		<tr>
			<td id="myAgentName">Моя в/ч: </td>
		@for (int i = 0; i < @Model.Contragents.Count(); i++)
		{
			if (@Model.Contragents[i].WhoAmI == true)
			{
				
					<td id="contragentIdInTable" hidden>@Model.Contragents[i].ContragentId</td>
					<td id="contragentNameInTable">@Model.Contragents[i].ContragentName</td>
					@* 					<td>
						<button type="button" onclick="/contragents/disable/{@Model.Contragents[i].ContragentId}">
							<img src="img/trash.svg">
						</button>
					</td> *@
				
			}
		}
		</tr>
	</table>
</div>
<div>
	<table>
		<thead>
			<tr>
				<th hidden>contragentId</th>
				<th>Назва</th>
				<th hidden>parentId</th>
				<th>Назва головної організації</th>
				<th>Опис</th>
				<th>Статус</th>
				@* <th></th> *@
			</tr>
		</thead>
	</table>
	<div class="scroll">
		<table>
			<thead hidden>
				<tr hidden>
					<th hidden>contragentId</th>
					<th>Назва</th>
					<th hidden>parentId</th>
					<th>Назва головної організації</th>
					<th>Опис</th>
					<th>Статус</th>
					@* <th></th> *@
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < @Model.Contragents.Count(); i++)
				{
					if (@Model.Contragents[i].WhoAmI == false)
					{
						<tr>
							<td id="contragentIdInTable" hidden>@Model.Contragents[i].ContragentId</td>
							<td id="contragentNameInTable">@Model.Contragents[i].ContragentName</td>
							<td id="parentIdInTable" hidden>@Model.Contragents[i].ParentId</td>
							<td id="parentNameInTable">@Model.Contragents[i].ParentName</td>
							<td id="contragentDescriptionInTable">@Model.Contragents[i].ContragentDescription</td>
							<td id="IsActiveContragnetInTable" class="status-@Model.Contragents[i].StatusDescription">@Model.Contragents[i].StatusDescription</td>
							@* 					<td>
						<button type="button" onclick="/contragents/disable/{@Model.Contragents[i].ContragentId}">
							<img src="img/trash.svg">
						</button>
					</td> *@
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>
@Html.Partial("/Views/Forms/ContragentForm/AddContragent.cshtml", Model)