@using DiplomaWebService.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StockItemViewModel
<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Майно на обліку</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		<button type="add-user" class="btn btn-add-user" onclick="ReassessmentWithCoeffOpen()">
			<img src="img/reevaluation.svg">Коефіціент
		</button>		
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук...">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table>
		<thead>
			<tr>
				<th hidden>stockItemId</th>
				<th hidden>ItemId</th>
				<th>Майно</th>
				<th>Номенклатурний номер</th>
				<th>Рік випуску</th>
				<th hidden>UnitId</th>
				<th>Одиниця виміру</th>
				<th hidden>CategoryId</th>
				<th>Категорія</th>
				<th>Ціна</th>
				<th>Кількість</th>	
				<th>Підрозділ</th>
				<th></th>
			</tr>
		<thead>
		<tbody class="scroll">
			@for (int i = 0; i < @Model.StockItems.Count(); i++)
			{
				<tr>
					<td id="stockItemId" hidden>@Model.StockItems[i].StockItemId</td>
					<td id="ItemId" hidden><label>@Model.StockItems[i].Item.ItemId</label></td>
					<td id="ItemName">@Model.StockItems[i].Item.ItemName</td>
					<td id="ItemName">@Model.StockItems[i].Item.NomenclatureNumber</td>
					<td id="ItemName">@Model.StockItems[i].ProductionYear</td>
					<td id="UnitId" hidden>@Model.StockItems[i].Unit.Id</td>
					<td id="UnitName">@Model.StockItems[i].Unit.Name</td>
					<td id="CategoryId" hidden>@Model.StockItems[i].Category.Id</td>
					<td id="CategoryName">@Model.StockItems[i].Category.Name</td>
					<td id="Price">@Model.StockItems[i].Price</td>
					<td id="Amount">@Model.StockItems[i].AllAmount</td>
					<td id="ContragentName">@Model.StockItems[i].ContragentName</td>
					<td class="td-image">
						<button type="add-user" class="btn" onclick="ReassessmentWithoutCoeffOpen('@Model.StockItems[i].StockItemId','@Model.StockItems[i].Item.ItemName, @Model.StockItems[i].Unit.Name, @Model.StockItems[i].Category.Name, @Model.StockItems[i].Price')">
							<img src="img/reevaluation1.svg">
						</button>
					</td>
				</tr>
			}
		</tbody>			
	</table>
</div>
@Html.Partial("/Views/Forms/StockItemForm/ReassessmentWithCoefForm.cshtml", @Model)
@Html.Partial("/Views/Forms/StockItemForm/ReassessmentWithoutCoefForm.cshtml", @Model)