@using DiplomaWebService.Models.ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model UserViewModel

<div class="app-content">
	<div class="main-header">
		<div class="top-header">
			<h2>Користувачі</h2>
		</div>
		<div class="btn-header">
			<button type="button" class="btn btn-header btn-header-disable" disabled>Зберегти</button>
		</div>
	</div>
	<nav class="nav">
		<button type="button" class="btn btn-add-user" onclick="openModalForm()">
			<img src="img/plus.svg">Додати
		</button>
		<div class="right-actions">
			<input type="text" class="input-field search-field" name="search" id="search" value="" placeholder="Пошук...">
			<img src="img/filtr.svg">
		</div>
	</nav>
</div>
<div class="users-table-content">
	<table>
		<tr>
			<th hidden>Id</th>
			<th>Логін</th>
			<th>Ім'я</th>
			<th>Прізвище</th>
			<th>По-батькові</th>
			<th>Статус</th>
			<th>Роль</th>
		</tr>
		@for (int i = 0; i < Model.Users.Count(); i++)
		{
			<tr>
				<td hidden>@Model.Users[i].Id</td>
				<td>@Model.Users[i].UserName</td>
				<td>@Model.Users[i].FirstName</td>
				<td>@Model.Users[i].LastName</td>
				<td>@Model.Users[i].FatherName</td>
				<td>@Model.Users[i].StatusDescription</td>
				<td>@Model.Users[i].RoleName</td>
				<td>
					<button type="button" onclick="/users/disable/{@Model.Users[i].Id}">
						<img src="img/trash.svg">
					</button>
				</td>
			</tr>
		}
	</table>
</div>
@Html.Partial("/Views/Forms/UserForm/AddUserForm.cshtml", Model.Roles)