@using DiplomaWebService.Models.Invoice.Out
@using DiplomaWebService.Models.ViewModel.Invoice.Out
@model InvoiceOutViewModelInvoice
<div class="container">
    <div class="block-container ">
        <span>Дата @Model.InvoicesOut.InvoiceDate</span>
        <span hidden>Sender Id @Model.InvoicesOut.SenderId</span>
        <span>Відправник @Model.InvoicesOut.SenderName</span>
        <span hidden>Destination Id @Model.InvoicesOut.DestinationId</span>
        <span>Отримувач @Model.InvoicesOut..DestinationId</span>
        <span hidden>Sector Id @Model.InvoicesOut.Sector.Id</span>
        <span>Служба @Model.InvoicesOut.Sector.Name</span>
        <div class="separator">
        </div>
    </div>
</div>
<div class="container">
    <div class="block-container ">
        Позиції
        <button type="button" class="btn btn-add-user" onclick="openModalForm()" disabled>
            <img src="img/plus.svg">Додати
        </button>
    </div>
</div>
<div class="users-table-content">
    <table>
        <thead>
            <tr>
                <th hidden>Item Id</th>
                <th>Назва</th>
                <th>Серійний номер</th>
                <th>Рік випуску</th>
                <th>Кількість</th>
                <th>Ціна</th>
                <th hidden>Unit Id</th>
                <th>Одиниці виміру</th>
                <th hidden>Category Id</th>
                <th>Категорія</th>
            </tr>
        </thead>
        <tbody>
            @foreach (InvoicePositionOut position in Model.InvoicesOut.InvoicePositions)
            {
                <tr>
                    <td hidden>@position.Item.ItemId</td>
                    <td>@position.Item.ItemName</td>
                    <td>@position.Amount</td>
                    <td>@position.Price</td>
                    <td hidden>@position.SerialNumber</td>
                    <td>@position.ProductionYear</td>
                    <td hidden>@position.Unit.Id</td>
                    <td>@position.Unit.Name</td>
                    <td hidden>@position.Category.Id</td>
                    <td>@position.Category.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>